<!--Search: <input ng-model="query">Sort by:-->
<!--<select ng-model="orderProp">-->
    <!--<option value="email">By email</option>-->
    <!--<option value="uuid">By uuid</option>-->
<!--</select>-->


<ul>
    <li ng-repeat="account in accounts">
        <h2>Account : {{account.name}}</h2>
        <ul>
            <li>uuid : <b>{{account.uuid}}</b></li>
            <li>editionCode : <b>{{account.editionCode}}</b></li>
            <li>maxUsers : <b>{{account.maxUsers}}</b></li>
            <li>appDirectManaged : <b>{{account.appDirectManaged}}</b></li>
            <li>appDirectBaseUrl : <b><a href="{{account.appDirectBaseUrl}}">{{account.appDirectBaseUrl}}</a></b></li>
        </ul>
        <table class="table">
            <thead>
            <tr>
                <th>UUID</th>
                <th>OpenId</th>
                <th>email</th>
                <th>firstName</th>
                <th>lastName</th>
                <th>zipCode</th>
                <th>department</th>
                <th>timezone</th>
                <th>admin</th>
                <!--<th><a href="#/new"><i class="icon-plus-sign"></i></a></th>-->
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in account.users | filter:search | orderBy:orderProp">
                <td>{{user.uuid}}</td>
                <td>{{user.openId}}</td>
                <td>{{user.email}}</td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.zipCode}}</td>
                <td>{{user.department}}</td>
                <td>{{user.timezone}}</td>
                <td>{{user.admin}}</td>
            </tr>
            </tbody>
        </table>
    </li>
</ul>



